<section gt-follows>
	<ul gt-nav class="static">
		<li>Ваши подписки</li>
	</ul>
    <main>
		<article gt-profile-card>
            <section gt-who>
                <div gt-photo>
                    <img src="/img/photo.jpg">
                </div>
                <div gt-name>
                    <b>@TonyStark</b><br>
                    Получил Cпасибо:<br>
                    <span>5634</span>
                </div>
            </section>
            <section gt-stat>
                <div>
                    4564<br>
                    Подписки
                </div>
                <div>
                    4564<br>
                    Подписчики
                </div>
                <div>
                    4564<br>
                    Получил Пять
                </div>
            </section>
            <section gt-actions>
                <div>
                    <button gt-green-btn>Наблюдаю</button>
                    <button gt-red-btn>Отмена</button>
                </div>
                <button gt-orange-btn>Сказать Спасибо</button>
            </section>
        </article><article gt-profile-card>
            <section gt-who>
                <div gt-photo>
                    <img src="/img/att2.jpg">
                </div>
                <div gt-name>
                    <b>@TonyStark</b><br>
                    Получил Cпасибо:<br>
                    <span>5634</span>
                </div>
            </section>
            <section gt-stat>
                <div>
                    4564<br>
                    Подписки
                </div>
                <div>
                    4564<br>
                    Подписчики
                </div>
                <div>
                    4564<br>
                    Получил Пять
                </div>
            </section>
            <section gt-actions>
                <div>
                    <button gt-green-btn>Наблюдаю</button>
                    <button gt-red-btn>Отмена</button>
                </div>
                <button gt-orange-btn>Сказать Спасибо</button>
            </section>
        </article><article gt-profile-card>
            <section gt-who>
                <div gt-photo>
                    <img src="/img/photo.jpg">
                </div>
                <div gt-name>
                    <b>@TonyStark</b><br>
                    Получил Cпасибо:<br>
                    <span>5634</span>
                </div>
            </section>
            <section gt-stat>
                <div>
                    4564<br>
                    Подписки
                </div>
                <div>
                    4564<br>
                    Подписчики
                </div>
                <div>
                    4564<br>
                    Получил Пять
                </div>
            </section>
            <section gt-actions>
                <div>
                    <button gt-green-btn>Наблюдаю</button>
                    <button gt-red-btn>Отмена</button>
                </div>
                <button gt-orange-btn>Сказать Спасибо</button>
            </section>
        </article><article gt-profile-card>
            <section gt-who>
                <div gt-photo>
                    <img src="/img/photo.jpg">
                </div>
                <div gt-name>
                    <b>@TonyStark</b><br>
                    Получил Cпасибо:<br>
                    <span>5634</span>
                </div>
            </section>
            <section gt-stat>
                <div>
                    4564<br>
                    Подписки
                </div>
                <div>
                    4564<br>
                    Подписчики
                </div>
                <div>
                    4564<br>
                    Получил Пять
                </div>
            </section>
            <section gt-actions>
                <div>
                    <button gt-green-btn>Наблюдаю</button>
                    <button gt-red-btn>Отмена</button>
                </div>
                <button gt-orange-btn>Сказать Спасибо</button>
            </section>
        </article><article gt-profile-card>
            <section gt-who>
                <div gt-photo>
                    <img src="/img/photo.jpg">
                </div>
                <div gt-name>
                    <b>@TonyStark</b><br>
                    Получил Cпасибо:<br>
                    <span>5634</span>
                </div>
            </section>
            <section gt-stat>
                <div>
                    4564<br>
                    Подписки
                </div>
                <div>
                    4564<br>
                    Подписчики
                </div>
                <div>
                    4564<br>
                    Получил Пять
                </div>
            </section>
            <section gt-actions>
                <div>
                    <button gt-green-btn>Наблюдаю</button>
                    <button gt-red-btn>Отмена</button>
                </div>
                <button gt-orange-btn>Сказать Спасибо</button>
            </section>
        </article>
    </main>
</section>