<section gt-menus>
	<article gt-profile-card>
		<section gt-who>
			<div gt-photo>
				<img src="/img/photo.jpg">
			</div>
			<div gt-name>
				<b>@{{ currentUserData.username }}</b><br>
				Получил Cпасибо:<br>
				<span>5634</span>
			</div>
		</section>
		<section gt-stat>
			<div>
				4564<br>
				Подписки
			</div>
			<div>
				4564<br>
				Подписчики
			</div>
			<div>
				4564<br>
				Получил Пять
			</div>
		</section>
		<section gt-actions>
			<button gt-green-btn>Редактировать</button>
			<button gt-orange-btn>Выход</button>
		</section>
	</article>
	<article gt-how-to-start>
		<header>Как начать?</header>
		<ul>
			<li>
				1. Скажи первое “Спасибо”.<br>Вспомни  момент, когда твой друг сделал приятное тебе, <b>пригласи его (её)</b>.
			</li>
			<li>
				2. Полуйчи первое “Спасибо”.<br><b>Расскажи</b> о позитивной Белке в соц сетях и получи от нее спасибо.
			</li>
			<li>
				3. <b>Пригласи</b> больше друзей, возможно им есть за что сказать тебе “Спасибо”.
			</li>
		</ul>
	</article>
	<article gt-invite-friends>
		<header>Пригласи друзей из твиттера</header>
		<ul>
			<li>
				<img src="/img/photo.jpg">
				<a href="#">Eric Hoffman</a>
				<button gt-invite-btn>Пригласить</button>
			</li>
			<li>
				<img src="/img/photo.jpg">
				<a href="#">Fabio</a>
				<button gt-invite-btn>Пригласить</button>
			</li>
			<li>
				<img src="/img/photo.jpg">
				<a href="#">Josh Austin</a>
				<button gt-invite-btn>Пригласить</button>
			</li>
			<li>
				<img src="/img/photo.jpg">
				<a href="#">Nadir Balcikli</a>
				<button gt-invite-btn>Пригласить</button>
			</li>
		</ul>
	</article>
</section>
<section gt-posts>
	<ul gt-nav>
		<li>Новости</li><li>Сказал</li><li class="selected">Получил</li>
	</ul>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att0.gif">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a> <i>&rarr;</i> <a href="#">TonyStark</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a> <i>&rarr;</i> <a href="#">TonyStark</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att1.jpg">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att2.jpg">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a> <i>&rarr;</i> <a href="#">TonyStark</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att3.png">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att4.jpg">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>

	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att5.jpg">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>

	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att6.jpg">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
	<article>
		<img src="/img/photo.jpg">
		<a href="#">Fabio</a>
		<span>23 июня</span>
		<p>
			From the makers of Worms: the darkly comical Flockers comes to PS4 on 9/23: <a href="#">http://bit.ly/1tKUmT9</a>  Save the sheep! 
		</p>
		<div gt-img>
			<img src="/img/att7.jpg">
		</div>
		<ul>
			<li gt-share>
				Поделиться:
				<a href="#">t</a>
				<a href="#">i</a>
				<a href="#">vk</a>
			</li>
			<li gt-actions>
				<a href="#">Коментарии</a>
				<a href="#">Дать Пять!</a>
			</li>
		</ul>
	</article>
</section>