<section gt-menus>
	<article gt-profile-card>
		<section gt-who>
			<div gt-photo>
				<img ng-src="{{ currentUserData.photo }}">
			</div>
			<div gt-name>
				<a>@{{ currentUserData.username }}</a><br>
				Получил Cпасибо:<br>
				<span>{{ currentUserData.gotThanks }}</span>
			</div>
		</section>
		<section gt-stat>
			<div>
				{{ currentUserData.follows }}<br>
				<a ng-href="/follows">Подписки</a>
			</div>
			<div>
				{{ currentUserData.followers }}<br>
				<a ng-href="/followers">Подписчики</a>
			</div>
			<div>
				{{ currentUserData.gotFives }}<br>
				Получил Пять
			</div>
		</section>
		<section gt-actions>
			<button gt-green-btn ng-click="invite()">Пригласить друзей</button>
			<button gt-orange-btn ng-click="logout()">Выход</button>
		</section>
	</article>
	<article gt-how-to-start>
		<header>Как начать?</header>
		<ul>
			<li>
				1. Скажи первое “Спасибо”.<br>Вспомни  момент, когда твой друг сделал приятное тебе, <b>пригласи его (её)</b>.
			</li>
			<li>
				2. Получи первое “Спасибо”.<br><b>Расскажи</b> о позитивной Белке в соц сетях и получи от нее спасибо.
			</li>
			<li>
				3. <b>Пригласи</b> больше друзей, возможно им есть за что сказать тебе “Спасибо”.
			</li>
		</ul>
	</article>
</section>
<section gt-posts>
	<ul gt-nav>
		<li ng-class="{ selected : currentView == 1 }" ng-click="setIndexView(1)">Лента</li><li ng-class="{ selected : currentView == 2 }" ng-click="setIndexView(2)">Сказал</li><li ng-class="{ selected : currentView == 3 }" ng-click="setIndexView(3)">Получил</li>
	</ul>
	<article ng-repeat="thankData in thanks" ng-if="!thankData.removed">
		<img ng-src="{{ thankData.photo }}">
		<a ng-href="/user/{{ thankData.username }}">{{ thankData.username }}</a> <i>&rarr;</i> <a ng-href="/user/{{ thankData.thankto }}">{{ thankData.thankto }}</a>
		<span>{{ humanTiming(thankData.time) }}</span>
		<p ng-bind-html="trustAsHtml(thankData.body)"></p>
		<div ng-if="thankData.attachment" gt-img>
			<img ng-src="/attachments/{{ thankData.attachment }}">
		</div>
		<ul>
			<li gt-share>
				Поделиться:<a ng-href="{{ thankData.vkShare }}" target="_blank">vkontakte</a><a ng-href="{{ thankData.twShare }}" target="_blank">twitter</a>
			</li>
			<li gt-actions ng-if="thankData.username == currentUserData.username">
				<a ng-click="removeThank(thankData)">Удалить</a>
				<a>Дали Пять &bull; {{ thankData.gotFives }}</a>
			</li>
			<li gt-actions ng-if="thankData.username != currentUserData.username">
				<a ng-if="!thankData.fived" ng-click="giveFive(thankData)">Дать Пять! &bull; {{ thankData.gotFives }}</a>
				<a ng-if="thankData.fived" ng-click="removeFive(thankData)">Дал Пять &bull; {{ thankData.gotFives }}</a>
			</li>
		</ul>
	</article>
</section>