<section gt-menus>
	<article gt-profile-card>
		<section gt-who>
			<div gt-photo>
				<img ng-src="{{ currentUserData.photo }}">
			</div>
			<div gt-name>
				<a>@{{ currentUserData.username }}</a><br>
				Получил Cпасибо:<br>
				<span>{{ currentUserData.gotThanks }}</span>
			</div>
		</section>
		<section gt-stat>
			<div>
				{{ currentUserData.follows }}<br>
				<a ng-href="/follows">Подписки</a>
			</div>
			<div>
				{{ currentUserData.followers }}<br>
				<a ng-href="/followers">Подписчики</a>
			</div>
			<div>
				{{ currentUserData.gotFives }}<br>
				Получил Пять
			</div>
		</section>
		<section gt-actions>
			<button gt-green-btn>Пригласить друзей</button>
			<button gt-orange-btn ng-click="logout()">Выход</button>
		</section>
	</article>
	<article gt-how-to-start ng-if="!currentUserData.invited || !currentUserData.saidThanks || !currentUserData.gotThanks">
		<header>Как начать?</header>
		<ul>
			<li ng-class="{ 'line-through' : currentUserData.invited }">
				1. Вспомни момент, когда твой друг сделал приятное тебе, <b>пригласи его (её)</b>.
			</li>
			<li ng-class="{ 'line-through' : currentUserData.saidThanks }">
				2. и <b>скажи ему (ей) первое “Спасибо”</b>.
			</li>
			<li ng-class="{ 'line-through' : currentUserData.gotThanks }">
				3. <b>Получи первое “Спасибо”</b> и не забывай дальше благодарить твоих друзей за приятные моменты :-)
			</li>
		</ul>
	</article>
</section>
<section gt-invite>
	<ul gt-nav>
        <li class="static">Пригласить друзей из:</li><li class="selected">Vkontakte</li>
	</ul>
	<article ng-repeat="friendData in friends">
		<img ng-src="{{ friendData.photo_100 }}">
		<a>{{ friendData.first_name }} {{ friendData.last_name }}</a>
		<button gt-invite-btn ng-click="inviteVkFriend(friendData)">Пригласить</button>
	</article>
</section>