<section gt-menus>
	<article gt-profile-card>
		<section gt-who>
			<div gt-photo>
				<a ng-href="/user/{{ userData.username }}"><img ng-src="{{ userData.photo }}"></a>
			</div>
			<div gt-name>
				<a ng-href="/user/{{ userData.username }}">@{{ userData.username }}</a><br>
				Получил Cпасибо:<br>
				<span>{{ userData.gotThanks }}</span>
			</div>
		</section>
		<section gt-stat>
			<div>
                {{ userData.follows }}<br>
                <a ng-href="/user/{{ userData.username }}/follows">Подписки</a>
            </div>
            <div>
                {{ userData.followers }}<br>
                <a ng-href="/user/{{ userData.username }}/followers">Подписчики</a>
            </div>
			<div>
				{{ userData.gotFives }}<br>
				Получил Пять
			</div>
		</section>
		<section gt-actions>
			<div ng-if="userData.follow">
                <button gt-green-btn>Наблюдаю</button>
                <button gt-red-btn ng-click="unfollow(userData)">Отмена</button>
            </div>
            <button ng-if="!userData.follow" gt-green-btn ng-click="follow(userData)">Наблюдать</button>
            <button gt-orange-btn ng-click="showSayThankModal(userData)">Сказать Спасибо</button>
		</section>
	</article>
	<article gt-how-to-start ng-if="!currentUserData.invited || !currentUserData.saidThanks || !currentUserData.gotThanks">
		<header>Как начать?</header>
		<ul>
			<li ng-class="{ 'line-through' : currentUserData.invited }">
				1. Вспомни момент, когда твой друг сделал приятное тебе, <b>пригласи его (её)</b>.
			</li>
			<li ng-class="{ 'line-through' : currentUserData.saidThanks }">
				2. и <b>скажи ему (ей) первое “Спасибо”</b>.
			</li>
			<li ng-class="{ 'line-through' : currentUserData.gotThanks }">
				3. <b>Получи первое “Спасибо”</b> и не забывай дальше благодарить твоих друзей за приятные моменты :-)
			</li>
		</ul>
	</article>
</section>
<section gt-posts>
	<ul gt-nav>
		<li ng-class="{ selected : currentView == 1 }" ng-click="setIndexView(1)">Лента</li><li ng-class="{ selected : currentView == 2 }" ng-click="setIndexView(2)">Сказал</li><li ng-class="{ selected : currentView == 3 }" ng-click="setIndexView(3)">Получил</li>
	</ul>
	<article ng-repeat="thankData in thanks" ng-if="!thankData.removed">
		<img ng-src="{{ thankData.photo }}">
		<a ng-href="/user/{{ thankData.username }}">{{ thankData.username }}</a> <i>&rarr;</i> <a ng-href="/user/{{ thankData.thankto }}">{{ thankData.thankto }}</a>
		<span>{{ humanTiming(thankData.time) }}</span>
		<p ng-bind-html="trustAsHtml(thankData.body)"></p>
		<div ng-if="thankData.attachment" gt-img>
			<img ng-src="/attachments/{{ thankData.attachment }}">
		</div>
		<ul>
			<li gt-share>
				Поделиться:<a ng-href="{{ thankData.vkShare }}" target="_blank">vkontakte</a><a ng-href="{{ thankData.twShare }}" target="_blank">twitter</a>
			</li>
			<li gt-actions ng-if="thankData.username == currentUserData.username">
				<a ng-click="removeThank(thankData)">Удалить</a>
				<a>Дали Пять &bull; {{ thankData.gotFives }}</a>
			</li>
			<li gt-actions ng-if="thankData.username != currentUserData.username">
				<a ng-if="!thankData.fived" ng-click="giveFive(thankData)">Дать Пять! &bull; {{ thankData.gotFives }}</a>
				<a ng-if="thankData.fived" ng-click="removeFive(thankData)">Дал Пять &bull; {{ thankData.gotFives }}</a>
			</li>
		</ul>
	</article>
</section>