<section gt-follows>
    <ul gt-nav class="static">
        <li>Результаты поиска</li>
    </ul>
    <main>
        <article gt-profile-card ng-repeat="userData in searchResult">
            <section gt-who>
                <div gt-photo>
                    <a ng-href="#/user/{{ userData.username }}"><img ng-src="{{ userData.photo }}"></a>
                </div>
                <div gt-name>
                    <a ng-href="#/user/{{ userData.username }}">@{{ userData.username }}</a><br>
                    Получил Cпасибо:<br>
                    <span>{{ userData.gotThanks }}</span>
                </div>
            </section>
            <section gt-stat>
                <div>
                    {{ userData.follows }}<br>
                    <a ng-href="#/user/{{ userData.username }}/follows">Подписки</a>
                </div>
                <div>
                    {{ userData.followers }}<br>
                    <a ng-href="#/user/{{ userData.username }}/followers">Подписчики</a>
                </div>
                <div>
                    {{ userData.gotFives }}<br>
                    Получил Пять
                </div>
            </section>
            <section gt-actions>
                <div ng-if="userData.follow">
                    <button gt-green-btn>Наблюдаю</button>
                    <button gt-red-btn ng-click="unfollow(userData)">Отмена</button>
                </div>
                <button ng-if="!userData.follow" gt-green-btn ng-click="follow(userData)">Наблюдать</button>
                <button gt-orange-btn ng-click="showSayThankModal(userData)">Сказать Спасибо</button>
            </section>
        </article>
    </main>
</section>