{% extends 'TrigenThankBundle:Thank:layout.html.twig' %}

{% block title %}Скажи Спасибо!{% endblock %}

{% block body %}
	<div gt-bg-img></div>
    <div gt-bg></div>
    <main gt-counter>
	    <a>Спасибо</a> сказали уже
	    <p><span gt-count>{{ thanksCount }}</span> раз</p>
	    <span>скажите <a>Спасибо</a> и Вы!</span>
	</main>
	<section gt-auth>
	    Войти через: <a gt-vk href="{{ hwi_oauth_login_url('vkontakte') }}">Вконтакте</a>, <a gt-i href="{{ hwi_oauth_login_url('instagram') }}">Instagram</a> или <a gt-t href="{{ hwi_oauth_login_url('twitter') }}">Twitter</a>.
	</section>
{% endblock %}