{% extends 'TrigenThankBundle:Thank:layout.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
	<nav gt-fixed-nav class="full">
		<main>
	        <ul>
	        	<li gt-index>
					<a ng-href="/" ng-class="{ selected : currentView == 1 }">Главная</a>
				</li><li gt-follows>
	            	<a ng-href="/follows" ng-class="{ selected : currentView == 2 }">Подписки</a>
	            </li><li gt-followers>
	            	<a ng-href="/followers" ng-class="{ selected : currentView == 3 }">Подписчики</a>
	            </li><li gt-say>
	            	<a ng-click="showSayThankModal()">Сказать Спасибо</a>
	            </li>
	        </ul>
	        <div gt-say>
				<a ng-click="showSayThankModal()">Сказать Спасибо</a>
			</div>
			<input type="search" name="search" ng-model="searchQuery" ng-change="search()" placeholder="Поиск">
        </main>
    </nav>
    <main ng-view>

    </main>
{% endblock %}